.new-members{
    width: 100%;
}
.customerWelcome{
    float: left;
    width: 50%;
}

.customerAdditionalInfo{
    float: left;
    width: 50%;
}

.customerAddress{
    float: left;
    width: 50%;
}

.customerEmergencyContact{
    float: left;
    width: 50%;
}

.custom-modal .modal-dialog {
    max-width: 99%; /* Adjust as needed */
    width: auto;
  }