.calendar-mins-block {
    height: 25%;
    position: relative;
    cursor: pointer;
}

.calender-mins-block.hovered {
    background-color: grey;
}

.schedule-class-btn {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}
