/*CSS for Calendar Color selectin ColorPicker in NewClassForm*/
/* Centering the row of color circles */
.color-options-container {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Styling each color option circle */
.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

/* Highlight the selected color circle */
.color-option.selected {
  border-color: black; /* You can change this color */
}

.color-picker-container {
  display:absolute;
  align-items: left;
  justify-content: left;
  position:relative;
}

.color-row {
  display: flex;
  align-items: left;
  position: relative;
  left: 50%;
  margin-left: 10px;
}

.color-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.color-picker-container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.color-picker-button {
  cursor: pointer;
  display: flex;
  align-items: left;
  position: static;
  left: 0%;
  width: 70px;
  height: 40px;
  margin-left: 10px;
}

.dropdown-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.color-circle-overlay {
  position: absolute;
  top: 44.5%;
  left: 7.85%;
  transform: translate(-50%, -50%);
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid white;
}

.color-picker-popup {
  position: relative;
  margin-top: 10px;
}

/*Makes event containers scrollable on day & week Calendar view*/
.scrollable-event {
  overflow-y: auto;
  padding: 2px; 
  white-space: normal; 
}

/*Extends 'Now Indicator' red line across the entire week in Calendar view*/
.fc-timegrid-now-indicator-container {
  overflow: visible !important;
  .fc-timegrid-now-indicator-line {
    width: calc(800% + 4px) !important; 
  }
}
.fc-day-tue {
  .fc-timegrid-now-indicator-line {
    transform: translateX(-20%); 
  }
}
.fc-day-wed {
  .fc-timegrid-now-indicator-line {
    transform: translateX(-40%);
  }
}
.fc-day-thu {
  .fc-timegrid-now-indicator-line {
    transform: translateX(-60%);
  }
}
.fc-day-fri {
  .fc-timegrid-now-indicator-line {
    transform: translateX(-80%);
  }
}

/*Displays classes on Month calender in colored block containers*/
.fc-daygrid-event {
    display: block;
    border-radius: 4px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fc-daygrid-event .fc-event-title {
    white-space: normal; 
    line-height: 1.2;
}

.fc-daygrid-event .fc-event-main {
    background-color: inherit; 
    border-radius: 3px;
}

/*Fixes table column widths so they do not stagger 
for individual tables for each day of the week in List Schedule view*/
.classes-page .table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.classes-page .table th, .classes-page .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: normal;
  word-wrap: break-word;
}

.classes-page .table th:last-child, .classes-page .table td:last-child {
  width: 4%;
}

.classes-page .table th:not(:last-child), .classes-page .table td:not(:last-child) {
  width: 12%;
}

/*Changes colors for 'Active Class' toggle button on NewClassForm*/
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:120px;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto; 
}

.toggle-switch {
  position:absolute;
  display:inline-flex;
  align-items: center; 
  justify-content: center; 
  width: 60px;
  height: 30px;
  background-color: #adb5bd; 
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch .toggle-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff; /* Default text color */
  transition: color 0.3s ease;
}

.toggle-switch .toggle-background.active {
  background-color: #1e73be; 
  border-radius: 30px;
}

.toggle-switch .toggle-text {
  position: absolute;
  width: 100%;
  text-align: left;
  z-index: 0;
  font-size: 12px;
  padding-left: 30px; 
}

.toggle-switch .toggle-background.active .toggle-text {
  padding-left: 10px;
}

.toggle-switch .toggle-button {
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s ease;
}

.toggle-switch .toggle-button.active {
  transform: translateX(30px); 
}

.toggle-label {
  font-size: 16px;
  text-align: center;
  color: #adb5bd; 
  transition: color 0.3s ease;
}

.toggle-label.active {
  color: #495057; 
}

/* Container to align toggle button and label */
.special-instructions-container {
  display: flex; 
  align-items: center; 
  gap: 8px; 
}

.special-instructions-label {
  margin-left: 70px; 
}

/*For Purchase Options selection list (from membership types)*/
.purchase-options-container {
  margin: 0px;
}

.lists-wrapper {
  display: flex; /* Display the lists side-by-side */
  gap: 10px; /* Space between the lists */
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.list {
  border: 1px solid #ddd;
  padding: 5px;
  width: 230px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Add scroll for overflow content */
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.actions a {
  margin-left: 5px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
  font-size: 12px;
}

.actions a:hover {
  text-decoration: underline;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list li:hover {
  background-color: #f0f0f0; /* Hover effect */
}