/* Set default font-family */
.app .ql-editor {
    font-family: 'Arial';
}

.ql-picker.ql-font .ql-picker-label {
    display: inline-block;
    max-width: 150px; /* Adjust based on your needs */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

/* Toolbar CSS */
.ql-picker.ql-font {
    .ql-picker-item[data-value='Raleway']::before, 
    .ql-picker-label[data-value='Raleway']::before {

        content: 'Raleway' !important;
        font-family: 'Raleway', sans-serif;
    }
    
    .ql-picker-item[data-value='Roboto']::before, 
    .ql-picker-label[data-value='Roboto']::before {
        content: 'Roboto' !important;
        font-family: 'Roboto', sans-serif;
    }
    
    .ql-picker-item[data-value='Ubuntu']::before, 
    .ql-picker-label[data-value='Ubuntu']::before {
        content: 'Ubuntu' !important;
        font-family: 'Ubuntu', sans-serif;
    }

    .ql-picker-item[data-value='DM-Serif-Text']::before, 
    .ql-picker-label[data-value='DM-Serif-Text']::before {
        content: 'DM Serif Text' !important;
        font-family: 'DM Serif Text', serif;
    }

    .ql-picker-item[data-value='Georgia']::before, 
    .ql-picker-label[data-value='Georgia']::before {
        content: 'Georgia' !important;
        font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    }

    .ql-picker-item[data-value='Impact']::before, 
    .ql-picker-label[data-value='Impact']::before {
        content: 'Impact' !important;
        font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .ql-picker-item[data-value='Monospace']::before, 
    .ql-picker-label[data-value='Monospace']::before {
        content: 'Monospace' !important;
        font-family: 'Monospace', monospace;
    }

    .ql-picker-item[data-value='Arial']::before, 
    .ql-picker-label[data-value='Arial']::before {
        content: 'Arial' !important;
        font-family: 'Arial', Arial, Helvetica, sans-serif;
    }

    
    .ql-picker-item[data-value='Arial-Black']::before, 
    .ql-picker-label[data-value='Arial-Black']::before {
        content: 'Arial Black' !important;
        font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    }

    .ql-picker-item[data-value='Trebuchet-MS']::before, 
    .ql-picker-label[data-value='Trebuchet-MS']::before {
        content: 'Trebuchet MS' !important;
        font-family: 'Trebucket MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .ql-picker-item[data-value='Helvetica']::before, 
    .ql-picker-label[data-value='Helvetica']::before {
        content: 'Helvetica' !important;
        font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    }
}

/* Set content font-families */
.ql-font-Ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.ql-font-Raleway {
    font-family: 'Raleway', sans-serif;
}

.ql-font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-DM-Serif-Text {
    font-family: 'DM Serif Text', serif;
}

.ql-font-Georgia {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.ql-font-Impact {
    font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ql-font-Monospace {
    font-family: 'Monospace', monospace;
  }

.ql-font-Arial {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}

.ql-font-Arial-Black {
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
}

.ql-font-Trebucket-MS {
    font-family: 'Trebucket MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ql-font-Helvetica {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
}
